#transitions-delay {
    width: 800px;
    height: 120px;
    border-radius: 8px;
    background: rgb(220, 246, 255);
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
          
.menu-item {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(76, 0, 255);
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Propiedades que ocultan los cuadrados */
    transform-origin: 0 0;
    transform: translateX(-100px);
    opacity: 0;
      /* Propiedades de transicion de los cuadrados */    
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.6, -1, 0.735, 0.045);
}
/* Boton de tap to scroll */
.nav-bar {
    width: 100px;
    height: 100px;
    position: relative;
    font-weight: bold;
}
.nav-bar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img:is(:hover, :focus) {
    background: rgb(169, 63, 255);
    border-radius: 10px;
    border: 2px double whitesmoke;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-delay: 0ms;
    transform: scale(0.8); 
}        
/* Retraso de las transiciones */ 
#transitions-delay:is(:hover, :focus) .menu-item {
    transform: translateX(0);
    opacity: 100%;
}
          
#transitions-delay .menu-item:nth-of-type(1) {
    transition-delay: 100ms;
}
          
#transitions-delay .menu-item:nth-of-type(2) {
    transition-delay: 200ms;
}
          
#transitions-delay .menu-item:nth-of-type(3) {
    transition-delay: 300ms;
}
          
#transitions-delay .menu-item:nth-of-type(4) {
    transition-delay: 400ms;
}
          
#transitions-delay .menu-item:nth-of-type(5) {
    transition-delay: 500ms;
}
          
