/* La caja que contiene las propiedades de las transiciones */
#transitions-duration {
    width: 600px;
    height: 120px;
    border-radius: 8px;
    background: rgb(220, 246, 255);
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
/* Los cuadrados que estan dentro del contenedor de propiedades */
.square-td-1, 
.square-td-2,
.square-td-3,
.square-td-4 {
    width: 100px;
    height: 100px;
    color: rgb(1, 5, 8);
    border-radius: 10px;
    border: 1px solid gray;
    background: rgb(255, 230, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease;
    padding: 8px;
}
/* Caja 1 velocidad instanteanea de transición */
.square-td-1:is(:hover, :focus) {
    transition-duration: 0ms;
    transform: scale(0.7);
}
/* Caja 2 tarda 200 ms en realizar la transicion */
.square-td-2:is(:hover, :focus) {
    transition-duration: 200ms;
    transform: scale(0.7);
}
/* Caja 3 tarda 800 ms en realizar la transicion */
.square-td-3:is(:hover, :focus){
    transition-duration: 800ms;
    transform: scale(0.7);
}
/* Caja 4 tarda 5000 ms en realizar la transicion */
.square-td-4:is(:hover, :focus) { 
    transition-duration: 5000ms;
    transform: scale(0.7);
}